* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #fff;
    font-family: "Arial", "Helvetica", sans-serif;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    overflow: hidden;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

#clock {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#time {
    color: #333;
    font-size: 15vw;
    font-weight: 900;
    text-shadow: 0 0 20px rgba(255, 255, 255, 0.5);
    font-family: Montserrat, Arial, Helvetica, sans-serif;
    letter-spacing: 10px;
}

#date {
    color: #333;
    font-size: 2vw;
    font-weight: 900;
    text-shadow: 0 0 20px rgba(255, 255, 255, 0.5);
    font-family: Montserrat, Arial, Helvetica, sans-serif;
    letter-spacing: 1px,
    white-space: nowrap;
    margin-top: 20px;
}
